textarea {
    height: 500px;
    font-size:17px;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAD9CAIAAAD/Ofr7AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oBHBUfJypjjhAAAAClSURBVFjDY1y9ejUDBmAx8HyPKcrEgA2Mig6EKMuF7YLEqmV8/GXnaJgN6tg8sf0T0bH55sv10TAb1LG5f/sVotX+UvMcDbNBHZtst7YTnTfPPvoyGmaDOjbvnSQ+NnfeGo3NwR2bny4SHZssnqpPR8NsUMfm9tvSxMemzq/RMBvcsXmFjeiS9svTs6NhNrhj89i90TbtaJt2NCRH27SjooOlTQsAVl82HaCMJcYAAAAASUVORK5CYII=") ;
}